.button {
  color: var(--color-text-3);
  font-family: var(--ff-primary);

  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  border: 2px solid var(--c-bg-310);
  background-color: var(--c-bg-100);
  border-radius: 0.2rem;
  cursor: pointer;
}

.selected {
  border-color: #2d313a00;
  background-color: var(--c-bg-310);
}

.button:disabled {
  border-color: var(--c-bg-300);
  pointer-events: none;
  color: var(--c-txt-100);
}
