.app {
  display: flex;

  height: 100%;
  width: 100%;

  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);

  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  color: var(--c-txt-400);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
