@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

:root {
  /* Refactoring */
  --c-primary: #fa2360;

  --c-txt-50: #fff;
  --c-txt-100: #b4b8be;
  --c-txt-200: #bfbcd5;
  --c-txt-300: #6a707c;
  --c-txt-400: #54565f;
  --c-txt-500: #282b35;

  --c-bg-100: #fff;
  --c-bg-200: #f4f4f4;
  --c-bg-300: #efefef;
  --c-bg-310: #2d313a2a;
  --c-bg-350: #6a707c;
  --c-bg-400: #363c47;
  --c-bg-500: #272a34;

  --ff-primary: 'Roboto Mono', monospace;

  --fw-light: 300;
  --fw-default: 400;
  --fw-bold: 500;
  /* Refactoring */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--c-bg-200);
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 5rem;

  font-size: 1.6rem;
}

/* General Element Styles */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
