.button {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: var(--fw-default);
  cursor: pointer;

  background-color: var(--c-bg-400);
  border: 2px solid var(--c-bg-400);
  border-radius: 0.5rem;
  color: var(--c-txt-100);

  padding: 1rem 1rem;
}

.button:disabled {
  pointer-events: none;
  background-color: inherit;
  font-weight: var(--fw-default);
  color: var(--c-txt-300);
}
