.label {
  font-size: 1.4rem;
  color: var(--color-text-200);
}

.input,
.select {
  font-size: 1.3rem;
  width: 100%;
  padding: 1rem 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 2rem;

  color: var(--color-text-1);
  background-color: inherit;
  border: 2px solid var(--color-text-300);
  border-radius: 0.5rem;
  font-family: var(--ff-primary);

  outline: none;
}

.select option {
  font-family: var(--ff-primary);
  background-color: #272a34;
  color: var(--color-text-100);
}
