.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  font-family: inherit;
  cursor: pointer;

  border-radius: 0.5rem;
  border: none;
  padding: 0.7rem 1.8rem;
}

.primary {
  font-weight: var(--fw-medium);
  color: var(--color-100);
  background-color: var(--color-background-300);
}

.secondary {
  color: var(--color-main);
  background-color: var(--color-secondary);
}
