.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  border-radius: 0.5rem;
  border: none;
  padding: 0.7rem 1.8rem;
}

.primary {
  color: var(--color-100);
  background-color: var(--color-text-200);
}

.secondary {
  color: var(--color-main);
  background-color: var(--color-secondary);
}
