.table {
  font-size: 1.45rem;
  border-collapse: collapse;
  margin: 2.5rem 0 auto 0;

  /* min-width: 120rem;  */
}

.table thead tr {
  text-align: left;
  text-transform: uppercase;

  font-family: inherit;
  font-weight: var(--fw-regular);

  color: var(--color-text-200);
}

.table tbody tr {
  border-top: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table td {
  padding: 1.2rem 0 1.2rem 4rem;
}
