.table {
  width: 100%;
  flex-basis: 80%;
  table-layout: fixed;
  font-size: 1.45rem;
  border-collapse: collapse;
  margin: 2.5rem 0 auto 0;
}

.table thead tr {
  text-align: left;
  text-transform: uppercase;

  font-family: inherit;
  font-weight: var(--fw-default);

  color: var(--c-txt-200);
}

.table tbody tr {
  height: 5rem;
  border-top: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: var(--c-bg-200);
}

.table td,
th {
  overflow: hidden;
  padding: 1.2rem 0 1.2rem 4rem;
}
