.checkbox {
  filter: hue-rotate(120deg);
  transform: scale(1.2);
}

.tableRow {
  position: relative;
}

.iconContainer {
  padding: 0;
}

.editIcon {
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 1.1rem;
}
